<h1>Genres: <%= @genre.name %></h1>
<br>
<h3>Songs:</h3>
<ul>
  <% @genre.songs.each do |song| %>
    <li><a href="/songs/<%= song.id %>"><%= song.name %></a></li>
  <% end %>
</ul>
<br>
<h3>Artists:</h3>
<ul>
  <% @genre.songs.each do |song| %>
    <li><a href="/artists/<%= song.artist.id %>"><%= song.artist.name %></a></li>
  <% end %>
</ul>
<br>