<h1>Update Song!</h1>

<form action="/songs/<%= @song.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" method="patch">
  <label>Edit the Song Name:</label>
  <input type="text" name="song[name]" id="song_name" value="<%= @song.name %>">

  <h3>Existing Genres</h3>
  <% @genres.each do |genre| %>
    <input type="checkbox" name="song[genre_ids][]" id="<%= genre.id %>" value="<%= genre.id %>" <%= 'checked' if @song.genres.include?(genre) %>><%= genre.name %></input><br>
  <% end %>
  <br>

  <h3>Find or create an artist for your song</h3>
  <lable>Artist Name:</label>
  <br>
  <input type="text" name="artist[name]" id="artist_name" value="<%= @song.artist.name %>">
  <br><br>

  <input type="submit" value="Update Song">
</form>
